<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>فلت کامپ استودیو</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--main style-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/style.css">
    <!--background slider style-->
    <link rel="stylesheet" type="text/css" href="~/Content/slideshow.css" />
    <!--google font style-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
    <!--font-family: 'Open Sans', sans-serif;-->
    <!-- font css style-->
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <!--for slider style-->
    <noscript>
        <link rel="stylesheet" type="text/css" href="~/Content/fallback.css" />
    </noscript>
    <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="~/Content/fallback.css" />
            <![endif]-->
</head>
<body>
    <!--wrapper start-->
    <div class="wrapper" id="wrapper">
        <header>
            <!--banner start-->
            <div class="banner row" id="banner">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadd" style="height:100%;">
                    <!--background slide show start-->
                    <div class="bannerPart"> <img src="~/images/new20hedear-0.gif" alt="" class="bgwidth bgheight"> </div>
                    <!--background slide show end-->
                </div>
            </div>
            <!--banner end-->
            <div class="bannerText container">
                <h1>فلت کامپ</h1>
                <h2>دیزاین تیزرهای تبلیغاتی و طراحی وبسایت</h2>
            </div>
            <!--menu start-->
                        @Html.Partial("~/Views/Shared/_Menu.cshtml")
            @*<div class="menu">
                <div class="navbar-wrapper">
                    <div class="container">
                        <div class="navwrapper">
                            <div class="navbar navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                        <a class="navbar-brand" href="#">منو</a>
                                    </div>
                                    <div class="navbar-collapse collapse" dir="rtl">
                                        <ul class="nav navbar-nav">
                                            <li class="menuItem active"><a href="#wrapper">خانه</a></li>
                                            <li class="menuItem"><a href="#aboutme">درباره ما</a></li>
                                            <li class="menuItem"><a href="#technical">مهارت ها</a></li>
                                            <li class="menuItem"><a href="#exprience">پروسه کاری</a></li>
                                            <li class="menuItem"><a href="#education">چرا ؟</a></li>
                                            <li class="menuItem"><a href="#protfolio">نمونه کار</a></li>
                                            <li class="menuItem"><a href="#contact">تماس با ما</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                         End Navbar 
                    </div>
                </div>
            </div>*@
            <!--menu end-->
        </header>
        <!--about me start-->
        <section class="aboutme" id="aboutme" dir="rtl">
            <div class="container">
                <div class="heading">
                    <h2>درباره فلت کامپ</h2>
                    @*<p>توضیح کوتاه درباه فلت کامپ</p>*@
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic" dir="ltr"> <img src="~/images/_Search_In_Loop_11.gif" alt="" width="295px" height="295px" class="img-circle topmar"> </div>

                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h3>فلت کامپ</h3>
                        <h4 class="subHeading">دیزاین تیزرهای تبلیغاتی و طراحی وب</h4>
                        <p>
                            تیم فلت کامپ در زمینه دیزاین تیزرهای تبلیغاتی بصورت 2D و 3D فعالیت میکند.
                            فلت کامپ فعالیت خود را با بزرگترین کمپانی ساخت تمپلیت های موشن گرافیک, Envato اغاز کرده است و در کشور
                            عزیزمان ایران تجربه ی
                            ساخت تیزرهای متنوع را
                            داشته است
                        </p>
                        <p>
                            از جمله
                            آن همکاری با شبکه
                            3 سیما و مشارکت در
                            ساخت تیزر تبلیغاتی
                            برای جام جهانی,همچنین
                            همکاری با شرکتهای
                            مختلف و ساخت تیزر در
                            زمینه های انتخابات مجلس
                            ,قطار شهری,انواع لوگو موشن
                            و...فعالیت داشته
                            است,مبنای کار ما
                            کیفیت کار است چرا که
                            اعتقاد داریم بعترین
                            تبلیغ رضایت مشتری
                            و نمونه ی کاری است..
                        </p>
                        <p>امیدواریم تجربه ی کاری متفاوت و رضایت بخشی را با فلت کامپ داشته باشید.</p>
                        <a href="#" class="bntDownload">تماس با ما</a>
                    </div>
                </div>
            </div>
        </section>
        <!--about me end-->
        <!--technical start-->
        <section class="technical" id="technical">
            <div class="container">
                <div class="heading">
                    <h2>مهارت های ما</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="100"> <span class="percent"></span> </span>
                            <h4>After Effect</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                            <h4>Illustrator</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="85"> <span class="percent"></span> </span>
                            <h4>logo design</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="100"> <span class="percent"></span> </span>
                            <h4>3D Max</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="80"> <span class="percent"></span> </span>
                            <h4>Mod Box</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="70"> <span class="percent"></span> </span>
                            <h4>VUE</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                            <h4>HTML5 / CSS3</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="80"> <span class="percent"></span> </span>
                            <h4>jQuery</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
                            <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                            <h4>asp.net Mvc</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 skillsArea">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 skills">
                            <span class="chart skilBg" data-percent="75"> <span class="percent"></span> </span>
                            <h4>sql server</h4>
                            @*<p>Donec accumsan ligula vitae mag na curabitur id</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--technical end-->
        <!--exprience start-->
        <section class="exprience" id="exprience">
            <div class="container">
                <div class="heading">
                    <h2>پروسه کاری</h2>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3" style="padding-top:20px;">
                        <img src="~/images/01.gif" alt="" width="200px" height="200px" class="img-circle topmar">
                        @*<div class="workYear">
                                Mar,2011<br>
                                Present
                            </div>*@
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon" dir="rtl">
                            <h4 class="text-right">تحقیق یا Research</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">
                                در اولین قدم در رابطه با موضوع، تحقیق و بررسی های لازم انجام میشه و سعی میکنیم نکات مهمی که باید روی اونها تاکید بشه رو مشخص کنیم.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                        <img src="~/images/03.gif" alt="" width="200px" height="200px" class="img-circle topmar">
                        @*<div class="workYear">
                                Mar,2011<br>
                                Present
                            </div>*@
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon" dir="rtl">
                            <h4 class="text-right">سرچ یا Search</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">
                                پروسه ی سرچ رو شروع میکنیم و نمونه های موجود رو بررسی میکنیم تا دید بهتری نسبت به موضوع پیدا کنیم.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                        <img src="~/images/06.gif" alt="" width="200px" height="200px" class="img-circle topmar">
                        @*<div class="workYear">
                                Mar,2011<br>
                                Present
                            </div>*@
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon" dir="rtl">
                            <h4 class="text-right">سناریو یا Scenario</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">
                                شروع به نوشتن سناریو میکنیم و داستان رو برای شما ارسال میکنیم.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                        <img src="~/images/02.gif" alt="" width="200px" height="200px" class="img-circle topmar">
                        @*<div class="workYear">
                                Mar,2011<br>
                                Present
                            </div>*@
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon" dir="rtl">
                            <h4 class="text-right">طرح اولیه ایده یا اسکچ Sketch</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">
                                پس از تایید اسکچ و طرحهای اولیه زده میشه و استوری برد رو در اختیار شما قرار میدیم تا ارتباط بهتری با کار برقرار کنید
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                        <img src="~/images/05.gif" alt="" width="200px" height="200px" class="img-circle topmar">
                        @*<div class="workYear">
                                Mar,2011<br>
                                Present
                            </div>*@
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon" dir="rtl">
                            <h4 class="text-right">موشن دیزاین یا Motion</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">
                                پروسه ی موشن رو شروع میکنیم و خروجی نهایی رو در اختیار شما قرار میدیم.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--exprience end-->
        <!--education start-->
        <section class="education" id="education">
            <div class="container">
                <div class="heading">
                    <h2>چرا بهترین راه انتقال اطلاعات و معرفی محصول تکنیک موشن گرافیک است؟</h2>
                </div>
                <div class="row workDetails">
                    @*<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            <div class="workYear">Mar,2010</div>
                        </div>*@
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        @*<div class="arrowpart"></div>*@
                        <div class="exCone">
                            <h4 class="text-right">FlatComp Studio</h4>
                            <h5 class="text-right"></h5>
                            <p class="text-right">زبان مغز زبان تصاویراست نه کلمات؛تصاویر رنگی داروی تقویت حافظه هستند؛پس اگر می خواهیم چیزی را به خاطر بسپاریم باید تمرکز حواس خود را از روی حفظ کردن داستان برداریم و سعی کنیم تمرکز ذهن خود را روی تجسم  تصاویر بگذاریم.هرچقدر این تصاویر با ایده های خلاقانه غیرمنطقی تر خنده دارتر و ملموس تر باشند حفظ و بازیابی آن آسان تر خواهد بود</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--education end-->
        <!--protfolio start-->
        <section class="protfolio" id="protfolio">
            <div class="container">
                <div class="heading">
                    <h2>نمونه کارها</h2>
                </div>
                <div class="portfolioFilter">
                    @*<ul>
                            <li><a href="#" data-filter="*" class="current">همه</a></li>
                            <li><a href="#" data-filter=".photos">تیزر</a></li>
                            <li><a href="#" data-filter=".branding">لوگو</a></li>
                            <li><a href="#" data-filter=".illustration">موشن</a></li>
                        </ul>*@
                </div>
                <ul class="portfolioContainer row">
                    <li class="photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"><a rel="lightbox-demo" href="~/images/portfolio/Dribbble-Special-Motion_03.gif" title="لوپ موشن تست 1" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/mailpic.jpg" alt=""> </div>
                    </li>
                    <li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="~/images/portfolio/JoyRide.gif" title="لوپ موشن تست 2" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/carpic.jpg" alt=""> </div>
                    </li>
                    <li class="illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="~/images/portfolio/Potion.gif" title="لوپ موشن تست 3" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/labpic.jpg" alt=""> </div>
                    </li>
                    <li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="~/images/portfolio/thank20you-0.gif" title="لوپ موشن تست 4" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/thankyou.jpg" alt=""> </div>
                    </li>
                    <li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="~/images/portfolio/pianist.gif" title="لوپ موشن تست 5" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/paintispic.jpg" alt=""> </div>
                    </li>
                    <li class="branding photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="~/images/portfolio/Taraz Final Render Preview black.webm" title="تراض موشن گرافیک" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/portfolio/thumb/Taraz Final Render Preview black_02246.jpg" alt=""> </div>
                    </li>
                    <li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/7.jpg" title="Project Title7" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/450.jpg" alt=""> </div>
                    </li>
                    <li class="branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/8.jpg" title="Project Title8" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="~/images/450.jpg" alt=""> </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--protfolio end-->
        <!--contact start-->
        <section class="contact" id="contact">
            <div class="container topCon">
                <div class="heading">
                    <h2>تماس با ما</h2>
                </div>
            </div>
            @*<div class="row mapArea">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=-37.817682,144.957595&amp;spn=0.01134,0.026157&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                </div>*@
        </section>
        <section class="contactDetails">
            <div class="container">

                <!--contact form start-->
                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 conForm">
                    <h4 dir="rtl">ارسال پیام</h4>
                    <div id="message"></div>
                    <form method="post" action="/Home/contactus" name="cform" id="cform" dir="rtl">
                        <input name="name" id="name" type="text" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" placeholder="نام شما ...">
                        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 noMarr" placeholder="ایمیل شما ...">
                        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="پیام شما ..."></textarea>
                        <input type="submit" id="submit" name="send" class="submitBnt" value="ارسال پیام" style="float:left">
                        <div id="simple-msg"></div>
                    </form>
                </div>
                <!--contact form end-->
                <!--contact info start-->
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4" dir="rtl">
                    <h4 dir="rtl">مشخصات تماس با ما</h4>
                    @*<p> <i class="fa fa-map-marker fa-lg"></i>  بزودی</p>*@
                    <p> <i class="fa fa-mobile fa-lg"></i> 989012399004+</p>
                    <p> <i class="fa fa-mobile fa-lg"></i> 989367883192+</p>
                    <p> <i class="fa fa-envelope-o "></i> <a href="mailto:info@flatcompstudio.com">info@flatcompstudio.com</a></p>
                    @*<p> <i class="fa fa-link "></i> <a href="www.websitename.com">www.busimas.com</a></p>*@
                </div>
                <!--contact info end-->
            </div>
        </section>
        <!--contact end-->
        <!--footer start-->
        <section class="footer" id="footer">
            <div class="container">
                <ul>
                    <li><a href="https://telegram.me/FlatComp_Studio"><i class="fa fa-telegram fa-2x"></i></a></li>
                    <li><a href="https://www.instagram.com/flatcomp_studio/"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://dribbble.com/FlatComp_Studio"><i class="fa fa-dribbble fa-2x"></i></a></li>
                    <li><a href="https://www.behance.net/flatcompstd9a1"><i class="fa fa-behance fa-2x"></i></a></li>
                    <li><a href="https://videohive.net/user/flatcomp_studio/portfolio"><i><img src="~/images/portfolio/videohive-02.png" width="45px" height="45px" style="margin-bottom:10px;" /></i></a></li>

                </ul>
            </div>
        </section>
        <!--footer end-->
    </div>    <!--wrapper end-->
    <!--modernizr js-->
    <script type="text/javascript" src="~/Scripts/modernizr.custom.26633.js"></script>
    <!--jquary min js-->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.gridrotator.js"></script>
    <!--for custom jquary-->
    <script src="~/Scripts/custom.js"></script>
    <!--for placeholder jquary-->
    <script type="text/javascript" src="~/Scripts/jquery.placeholder.js"></script>
    <!--for menu jquary-->
    <script type="text/javascript" src="~/Scripts/stickUp.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).ready(function () {
                //enabling stickUp on the '.navbar-wrapper' class
                $('.navbar-wrapper').stickUp({
                    parts: {
                        0: 'banner',
                        1: 'aboutme',
                        2: 'technical',
                        3: 'exprience',
                        4: 'education',
                        5: 'protfolio',
                        6: 'contact'
                    },
                    itemClass: 'menuItem',
                    itemHover: 'active',
                    topMargin: 'auto'
                });
            });

            $(".navbar.navbar-inverse.navbar-static-top a").click(function () {
                $(".navbar-collapse").addClass("hideClass");
            });


            $(".navbar.navbar-inverse.navbar-static-top a").click(function () {
                $(".navbar-collapse").addClass("collapse");
            });


            $(".navbar.navbar-inverse.navbar-static-top a").click(function () {
                $(".navbar-collapse").removeClass("in");
            });

            $(".navbar-toggle").click(function () {
                $(".navbar-collapse").removeClass("hideClass");
            });


        });
    </script>
    <!--for portfoli filter jquary-->
    <script src="~/Scripts/jquery.isotope.js" type="text/javascript"></script>
    <!--for portfoli lightbox -->
    <link type="text/css" rel="stylesheet" id="theme" href="~/Content/jquery-ui-1.8.16.custom.css">
    <link type="text/css" rel="stylesheet" href="~/Content/lightbox.min.css">
    <script type="text/javascript" src="~/Scripts/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.rlightbox.js"></script>
    <!--for skill chat jquary-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.easypiechart.js"></script>
    <!--contact form js-->
    <script type="text/javascript" src="~/Scripts/jquery.contact.js"></script>
</body>
</html>